{%  extends 'UserAccount/main.html' %}
{% block content %}
{% load static %}

<body>

<div class=col-3>
    <div class="sidebar-right" id="create-employee-account-pane">
        <a class="employee-profiles-pane-title" onclick="openEmpAccountForm()">Create employee account</a>
    </div>

    <div class="form-popup" id="create-emp-account-form">
        <div class="form-container">
        <div class=form-popup-header>
            <h3 class="div-header-title">Create employee account</h3>
            <button type="button" class="btn-cancel" onclick="closeEmpAccountForm()">Close</button>
        </div>

        <a class="create-emp-btn" href="{% url 'landing' %}">Create new employee here</a>
</div>
    </div>

</div>


<script>
    function openEmpAccountForm() {
        if (document.getElementById("create-emp-account-form").style.display === "block") {
            document.getElementById("create-emp-account-form").style.display = "none";
        } else {
            document.getElementById("create-emp-account-form").style.display = "block";
        }
    }

    function closeEmpAccountForm() {
        document.getElementById("create-emp-account-form").style.display = "none";
    }
</script>

</body>

{% endblock %}
