{%  extends 'UserAccount/main.html' %}
{% block content %}

<body class="dashboard-bg">

{% include 'UserAccount/navbar.html' %}

<div class="row">

    {% include 'UserAccount/administrators.html' %}

    {% include 'UserAccount/employee-profiles.html' %}

    {% include 'UserAccount/sidebarrightright.html' %}

    {% include 'UserAccount/create-employee-account.html' %}

    {% include 'UserAccount/weekly-company-stats.html' %}

    {% include 'UserAccount/monthly-company-stats.html' %}

    {% include 'UserAccount/yearly-company-stats.html' %}

    {% include 'UserAccount/sidebarleft.html' %}


    {% include 'UserAccount/sidebarleftdown.html' %}

    {% include 'UserAccount/sidebarright.html' %}

    {% include 'UserAccount/modeldata.html' %}

    {% include 'UserAccount/add-new-data.html' %}

    {% include 'UserAccount/database-manip-pane.html' %}

</div>

{% include 'UserAccount/footer.html' %}

</body>

{% endblock %}