{% block content %}
{% load static %}

<body>


<div class="col-6">

    <div class="form-popup" id="myForm">
        <div class=form-popup-header>
            <h3 class="div-header-title">New Employee</h3>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="POST" class="form-container">
            {% csrf_token %}
            <div class="form-input">
                <label>
                    Employee ID:
                    <input type="text" class="form-control" name="employee_id" placeholder="">
                </label>
            </div>
            <div>
                <label>
                    First name:
                    <input type="text" class="form-control" name="first_name" placeholder="">
                </label>
                <label>
                    Last name:
                    <input type="text" class="form-control" name="last_name" placeholder="">
                </label>
            </div>
            <div>
                <label>
                    Gender:
                    <select name="gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="None">Prefer not to say</option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    Employment date:
                    <input type="date" class="form-control" name="employment_date" placeholder="">
                </label>
            </div>
            <div>
                <span>
                <label>
                    Working hours:
                    <input type="time" class="form-control" name="working_hours_from" placeholder="">
                </label>
                <label>
                    to
                    <input type="time" class="form-control" name="working_hours_to" placeholder="">
                </label>
                </span>
            </div>
            <div>
                <label>
                    Email address:
                    <input type="email" class="form-control" name="email" placeholder="">
                </label>
            </div>
            <div>
                <label>
                    Primary address:
                    <input type="text" class="form-control" name="primary_address" placeholder="">
                </label>
            </div>
            <div>
                <div>
                    <label>
                        City:
                        <input type="text" class="form-control" name="city" placeholder="">
                    </label>
                    <label>
                        State:
                        <input type="text" class="form-control" name="state" placeholder="">
                    </label>
                    <label>
                        Postal code:
                        <input type="text" class="form-control" name="postalCode" placeholder="">
                    </label>
                </div>
                <div>
                    <label>
                        Primary phone number:
                        <input type="text" class="form-control" name="primary_phone_number" placeholder="">
                    </label>
                    <label>
                        Other phone number:
                        <input type="text" class="form-control" name="other_phone_number" placeholder="">
                    </label>
                </div>
                <div>
                    <label>
                        Date of Birth:
                        <input type="date" class="form-control" name="date_of_birth" placeholder="">
                    </label>
                </div>
                <div>
                    <label>
                        Salary:
                        <input type="number" class="form-control" name="salary" placeholder="">
                    </label>
                </div>
                <div>
                    <label>
                        Salary:
                        <select name="status">
                            <option value="PT">Part Time</option>
                            <option value="FT">Full Time</option>
                            <option value="Temp">Temporary</option>
                            <option value="S">Seasonal</option>
                        </select>
                    </label>
                </div>

                <!-- <button type="submit" value="Post" class="form-btn">Submit</button>-->
                <input class="form-btn" type="submit" value="Submit" class="form-control"/>

            </div>
        </form>
    </div>

    <div class="form-popup" id="myForm2">

        <div class=form-popup-header>
            <h3 class="div-header-title">New office</h3>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>

        <form action="" method="POST" class="form-container">
            {% csrf_token %}
            <div class="form-input">
                <label>
                    Office Address:
                    <input type="text" class="form-control" name="office_address">
                </label>
            </div>
            <div>
                <label>
                    City:
                    <input type="text" class="form-control" name="city">
                </label>
                <label>
                    State:
                    <input type="text" class="form-control" name="state">
                </label>
            </div>
            <div>
                <label>
                    Postal Code:
                    <input type="text" class="form-control" name="postalCode">
                </label>
            </div>
            <input class="form-btn" type="submit" value="Submit" class="form-control"/>

        </form>
    </div>

    <div class="form-popup" id="myForm3">

        <div class=form-popup-header>
            <h3 class="div-header-title">New position</h3>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="POST" class="form-container">
            {% csrf_token %}
            <div class="form-input">
                <label>
                    Position:
                    <input type="text" class="form-control" name="position" placeholder="">
                </label>
            </div>

            <input class="form-btn" type="submit" value="Submit" class="form-control"/>

        </form>
    </div>

    <div class="form-popup" id="myForm4">

        <div class=form-popup-header>
            <h3 class="div-header-title">New team</h3>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>

        </div>

        <form action="" method="POST" class="form-container">
            {% csrf_token %}
            <div class="form-input">
                <label>
                    Team:
                    <input type="text" class="form-control" name="team" placeholder="">
                </label>
            </div>
            <input class="form-btn" type="submit" value="Submit" class="form-control"/>

        </form>
    </div>


    <!--Offices,Employees,Positions,Teams-->
    <div class="form-popup" id="myForm5">
        <div class=form-popup-header>
           <span class="div-header-title">Offices</span>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="post" class="form-container">
            {% csrf_token %}
            <div style="overflow-x:auto;">
        <table class="mid-pane-table">
            <thead>
                <tr>
                    <th>Office address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal code</th>
            </thead>
            <tbody>
            {% for i in data2 %}
            <tr>
                <td>{{i.office_address}}</td>
                <td>{{i.city}}</td>
                <td>{{i.state}}</td>
                <td>{{i.postalCode}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
        </form>
    </div>

    <div class="form-popup" id="myForm6">
        <div class=form-popup-header>
            <span class="div-header-title">Teams</span>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="post" class="form-container">
            {% csrf_token %}
            <table class="mid-pane-table">
            <thead>
                <tr>
                    <th>Team</th>

            </thead>
            <tbody>
            {% for i in data3 %}
            <tr>
                <td>{{i.team}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>

    <div class="form-popup" id="myForm7">
        <div class=form-popup-header>
            <span class="div-header-title">Positions</span>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>

        </div>
        <form action="" method="post" class="form-container">
            {% csrf_token %}
            <table class="mid-pane-table">
            <thead>
                <tr>
                    <th>Position</th>

            </thead>
            <tbody>
            {% for i in data4 %}
            <tr>
                <td>{{i.position}}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>

    <div class="form-popup" id="myForm8">
        <div class=form-popup-header>
            <span class="div-header-title">Employees</span>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="post" class="form-container">
            {% csrf_token %}
            <div style="overflow-x:auto;">
        <table class="mid-pane-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Gender</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Employment date</th>
                    <th>Working hours from</th>
                    <th>Working hours to</th>
                    <th>Email</th>
                    <th>Primary address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal code</th>
                    <th>Primary phone</th>
                    <th>Other phone</th>
                    <th>Date of birth</th>
                    <th>Salary</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
                <td>{{i.employee_id}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.employment_date}}</td>
                <td>{{i.working_hours_from}}</td>
                <td>{{i.working_hours_to}}</td>
                <td>{{i.email}}</td>
                <td>{{i.primary_address}}</td>
                <td>{{i.city}}</td>
                <td>{{i.state}}</td>
                <td>{{i.postalCode}}</td>
                <td>{{i.primary_phone_number}}</td>
                <td>{{i.other_phone_number}}</td>
                <td>{{i.date_of_birth}}</td>
                <td>{{i.salary}}</td>
                <td>{{i.status}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
        </form>
        </div>
    </div>

    <!--Add employees to Offices,Positions,Teams forms-->
    <div class="form-popup" id="myForm9">
        <div class=form-popup-header>
            <h3 class="div-header-title">Add Employee to Position</h3>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="post" class="form-container">
            {% csrf_token %}

            <div class="form-input">
                <label>Employee:</label>
                <input type="text" class="form-control" name="employee_to_position" placeholder="ex. V00922923">
                <label>Position:</label>
                <input type="text" class="form-control" name="employee_position" placeholder="ex. Software Developer">
                <button type="submit" class="form-btn">Add to Position</button>
            </div>
        </form>
    </div>

    <div class="form-popup" id="myForm10">
        <div class=form-popup-header>
            <h3 class="div-header-title">Add Employee to Team</h3>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="post" class="form-container">
            {% csrf_token %}
            <div class="form-input">
                <label>Employee:</label>
                <input type="text" class="form-control" name="add_emp_team" placeholder="ex. V00922923">

                <label>Team:</label>
                <input type="text" class="form-control" name="the_team" placeholder="ex. Software Team">

                <button type="submit" class="form-btn">Add to Team</button>
            </div>
        </form>
    </div>

    <div class="form-popup" id="myForm11">
        <div class=form-popup-header>
            <h3 class="div-header-title">Add Employee to Office</h3>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
        </div>
        <form action="" method="post" class="form-container">
            {% csrf_token %}
            <div class="form-input">
                <label>Employee:</label>
                <input type="text" class="form-control" name="add_emp_office" placeholder="ex. V00922923">

                <label>Office:</label>
                <input type="text" class="form-control" name="the_office" placeholder="ex. 5574 Oak Rd">

                <button type="submit" class="form-btn">Add to Office</button>
            </div>
        </form>
    </div>

</div>

<script>
    function openEmployeeForm() {
        if (document.getElementById("myForm").style.display === "block") {
            document.getElementById("myForm").style.display = "none";
        } else {
            document.getElementById("myForm").style.display = "block"
            document.getElementById("myForm2").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
        }
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById("myForm2").style.display = "none";
        document.getElementById("myForm3").style.display = "none";
        document.getElementById("myForm4").style.display = "none";
        document.getElementById("myForm5").style.display = "none";
        document.getElementById("myForm6").style.display = "none";
        document.getElementById("myForm7").style.display = "none";
        document.getElementById("myForm8").style.display = "none";
        document.getElementById("myForm9").style.display = "none";
        document.getElementById("myForm10").style.display = "none";
        document.getElementById("myForm11").style.display = "none";
        document.getElementById("profile-form-popup").style.display = "none";

    }

    /////////////////////////////////////
    function openOfficeForm() {
        if (document.getElementById("myForm2").style.display === "block") {
            document.getElementById("myForm2").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "block"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function openPositionForm() {
        if (document.getElementById("myForm3").style.display === "block") {
            document.getElementById("myForm3").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "block";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function openTeamForm() {
        if (document.getElementById("myForm4").style.display === "block") {
            document.getElementById("myForm4").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "block";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function officesForm() {
        if (document.getElementById("myForm5").style.display === "block") {
            document.getElementById("myForm5").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm5").style.display = "block";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function teamsForm() {
        if (document.getElementById("myForm6").style.display === "block") {
            document.getElementById("myForm6").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm6").style.display = "block";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function positionsForm() {
        if (document.getElementById("myForm7").style.display === "block") {
            document.getElementById("myForm7").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm7").style.display = "block";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function employeesForm() {
        if (document.getElementById("myForm8").style.display === "block") {
            document.getElementById("myForm8").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm8").style.display = "block";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function addEmpToPosForm() {
        if (document.getElementById("myForm9").style.display === "block") {
            document.getElementById("myForm9").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "block";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function addEmpToTeamsForm() {
        if (document.getElementById("myForm10").style.display === "block") {
            document.getElementById("myForm10").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "block";
            document.getElementById("myForm11").style.display = "none";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }

    function addEmpToOfficesForm() {
        if (document.getElementById("myForm11").style.display === "block") {
            document.getElementById("myForm11").style.display = "none";
        } else {
            document.getElementById("myForm9").style.display = "none";
            document.getElementById("myForm10").style.display = "none";
            document.getElementById("myForm11").style.display = "block";
            document.getElementById("myForm8").style.display = "none";
            document.getElementById("myForm7").style.display = "none";
            document.getElementById("myForm6").style.display = "none";
            document.getElementById("myForm5").style.display = "none";
            document.getElementById("myForm4").style.display = "none";
            document.getElementById("myForm3").style.display = "none";
            document.getElementById("myForm2").style.display = "none"
            document.getElementById("myForm").style.display = "none"
        }
    }


</script>

</body>
{% endblock %}
