{% extends 'UserAccount/main.html' %}
{% block content %}
{% load static %}

<body>

<div class="landing-nav">
    <ul class="landing-nav-ul">


        <li class="landing-nav-li"><a class="landing-nav-a" href="#a">My Employee Manager</a></li>
        <li class="landing-nav-li"><a class="landing-nav-a" href="#b">Features</a></li>

        <li class="landing-nav-li"><a class="landing-nav-a" href="#a">Contact</a></li>
        <li class="landing-nav-li"><a class="landing-nav-a" href="{% url 'login' %}">Sign In</a></li>

    </ul>
</div>


</body>


{% endblock %}
