{%  extends 'UserAccount/main.html' %}
{% block content %}
{% load static %}

<body>

<div class="container">
    <form method="POST" action="">
        {% csrf_token %}

        <div>
            <h1>Employee Manager</h1>
        </div>

        <div>
            <input class="" type="text" name="username" placeholder="Username">
        </div>

        <div>
            <input class="" type="" name="password" placeholder="Password">
        </div>

        <div>
            <input class="" type="submit" value="Sign in">
        </div>

        <div>
            Don't have an account? <a href="{% url 'register' %}" class="">Sign Up</a>
        </div>

    </form>
</div>

</body>


{% endblock %}
