{% block content %}
{% load static %}


<div class=col-3>
    <div class="sidebar-left">
        <div class=sidebar-left-header>
            <h3 class="div-header-title">Data</h3>
        </div>
        <div class="moreAttr">
            <div><button class="open-button" onclick="officesForm()">List of Offices</button></div>
            <div><button class="open-button" onclick="employeesForm()">List of Employees</button></div>
            <div><button class="open-button" onclick="positionsForm()">List of Positions</button></div>
            <div><button class="open-button" onclick="teamsForm()">List of Teams</button></div>
        </div>
    </div>
</div>


{% endblock %}
