{% block content %}
{% load static %}


<div class=col-6>
    <div class="sidebar-left">
        <div class=sidebar-left-header>
            <h3 class="div-header-title">Model Data</h3>
        </div>
        <div class="moreAttr">
            <button class="open-button" onclick="officesForm()">Offices</button>
            <button class="open-button" onclick="employeesForm()">Employees</button>
            <button class="open-button" onclick="positionsForm()">Positions</button>
            <button class="open-button" onclick="teamsForm()">Teams</button>
        </div>
    </div>
</div>


{% endblock %}
