{% block content %}
{% load static %}


    <div class=col-4>

        <div class="sidebar-left">

            <div class="stats-header">
                <h3 class="div-header-title">Monthly Stats</h3>
            </div>
            <ul class="sidebar-left-ul">
                <li class="sidebar-left-li">Revenue:</li>
                <li class="sidebar-left-li">Items Sold:</li>
                <li class="sidebar-left-li">Expenses:</li>
                <li class="sidebar-left-li">Growth:</li>
            </ul>


        </div>

    </div>







{% endblock %}
