{% block content %}
{% load static %}



    <div class="top-sec">
            <img src="/static/employee-manager-header.jpg" alt="Paris">

        <a class="header-title" href="{% url 'dashboard' %}">My Employee Manager</a>

    </div>


<div class="nav">
    <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" href="{% url 'dashboard' %}">Home</a></li>
        <li class="nav-li"><a class="nav-a" href="">About</a></li>
        <li class="nav-li"><a class="nav-a" href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>






{% endblock %}
