{%  extends 'UserAccount/main.html' %}
{% block content %}
{% load static %}


<body>

<div class="container">
<form method="POST" action="">
    {% csrf_token %}

        <div>
            <h1>Employee Manager</h1>
            <h3>Your Employee Management System</h3>
        </div>

    <div class="auth-input">{{form.username}}</div>
    <div class="auth-input">{{form.email}}</div>
    <div class="auth-input">{{form.password1}}</div>
    <div class="auth-input">{{form.password2}}</div>
    <input class="auth-submit" type="submit" value="Register">


</form>

{{form.errors}}

Already have an account? <a href="{% url 'login' %}" class="auth-bottom">Log In</a>
</div>
</body>


{% endblock %}