{% block content %}
{% load static %}


    <div class=col-3>

        <div class="sidebar-left">

            <div class=sidebar-left-header>
                <h3 class="div-header-title">Event</h3>
            </div>
            <ul class="sidebar-left-ul">
                <li class="sidebar-left-li"><a class="nav-sidebar-left-a" href="#a">Email employees</a></li>
                <li class="sidebar-left-li"><a class="nav-sidebar-left-a" href="#b">Create activity</a></li>
                <li class="sidebar-left-li"><a class="nav-sidebar-left-a" href="#c">TBD</a></li>
                <li class="sidebar-left-li"><a class="nav-sidebar-left-a" href="#d">TBD</a></li>
            </ul>


        </div>

    </div>







{% endblock %}
