{% block content %}
{% load static %}



    <div class=col-3>
        <div class="sidebar-leftdown">

            <div class=sidebar-leftdown-header>
                <h3 class="div-header-title">Hiring</h3>
            </div>

            <ul class="sidebar-leftdown-ul">
                <li class="sidebar-leftdown-li"><a class="sidebar-leftdown-a" href="#a">Applicants</a></li>
                <li class="sidebar-leftdown-li"><a class="sidebar-leftdown-a" href="#b">Interviews</a></li>
                <li class="sidebar-leftdown-li"><a class="sidebar-leftdown-a" href="#c">TBD</a></li>
                <li class="sidebar-leftdown-li"><a class="sidebar-leftdown-a" href="#d">TBD</a></li>
            </ul>
        </div>
    </div>







{% endblock %}
