{% block content %}
{% load static %}



    <div class=col-3>
        <div class="sidebar-right">

            <div class=sidebar-right-header>
                <h3 class="div-header-title">User Account</h3>
            </div>

            <ul class="sidebar-right-ul">
                <li class="sidebar-right-li"><a class="sidebar-right-a" href="#a">Create admins</a></li>
                <li class="sidebar-right-li"><a class="sidebar-right-a" href="{% url 'logout' %}">Logout</a></li>
                <li class="sidebar-right-li"><a class="sidebar-right-a" href="#c">TBD</a></li>
                <li class="sidebar-right-li"><a class="sidebar-right-a" href="#d">TBD</a></li>
            </ul>
        </div>
    </div>







{% endblock %}
