{% block content %}
{% load static %}


    <div class=col-4>

        <div class="sidebar-left">

            <div class="stats-header">
                <h3 class="div-header-title">Weekly Stats</h3>
            </div>
            <ul class="sidebar-left-ul">
                <li class="sidebar-left-li">Revenue: 0</li>
                <li class="sidebar-left-li">Items Sold: 0</li>
                <li class="sidebar-left-li">Expenses: 0</li>
                <li class="sidebar-left-li">Growth: 0.0</li>
            </ul>


        </div>

    </div>







{% endblock %}
